// border:#f00 solid;

@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/compass-mixins/lib/compass/css3";

$tool: #2257D6;
$tool_gradient: #4077D6;

body {
	background: url('../images/desktop.jpg') center center fixed no-repeat;
	font-family: Microsoft JhengHei; 
    color: #fff;
    background-size: cover;
    margin: 0;
    padding: 0;
}

a {
	&:link, &:visited, &:active, &:hover {
		color: #fff;
		text-decoration: none;
	}
}

#desktop {
	width: 100%;
	nav {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 30px;
		background-color: $tool;
		box-shadow: 0 -5px 1px $tool_gradient;

		.start {
			width: 100px;
			height: 100%;
			background: radial-gradient(ellipse, #54D054, #30912E);
			text-align: center;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			font-size: 17px;
			img {
				vertical-align: middle;
				width: 30px;
			}
		}
	}

	.desktop {
		> div {
			display: block;
		    margin: 10px;
		    padding: 40px 0 10px 0;
		    width: 100px;
		    background-position: 50% 5px;
		    background-color: transparent;
		    background-repeat: no-repeat;
		    text-align: center;
		    text-shadow: 1px 1px 1px #000;
			&:hover {
				cursor: pointer;
			}
			&.computer {
				background-image: url('../images/computer.png');
			}
			&.doc {
				background-image: url('../images/doc.png');
			}
			&.chrome {
				background-image: url('../images/Chrome.png');
				background-size: 30px;
			}
		}
	}
}

.box {
	position: fixed;
	height: 70%;
	width: 70%;
	top: 10%;
	left: 10%;
	border: $tool_gradient solid;
	border-radius: 5px;
	background-color: #fff;
	display: none;
    @include transition(opacity .3s);
	&.full {
		height: calc(100% - 35px);
		width: 100%;
		top: 0;
		left: 0;
	}
	.tool {
		height: 30px;
		background: radial-gradient(ellipse, $tool, $tool_gradient);
		font-size: 20px;
		img {
			display: block-inline;
			margin-left: 5px;
			vertical-align: middle;
			width: 25px;
		}
		ul {
			position: absolute;
			top: 0px;
			right: 0px;
			margin: 0px;
			li {
				list-style: none;
				float: left;
				a {
					font-size: 16px;
					display: block;
					width: 25px;
					height: 25px;
					border: #fff 1px solid;
					margin: 2px;
					border-radius: 3px;
					text-align: center;
				}
				&:last-child {
					a {
						background-color: #900;
					}
				}
			}
		}
	}
	.edit {
		height: 25px;
		top: calc(0% + 30px);
		color: #000;
		background: #ECE9DA;
		border-bottom: #DCD9C8 1px solid;
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				float: left;
				top: 0;
				left: 0;
				a {
					font-size: 14px;
					display: block;
					text-align: center;
					color: #000;
					padding: 2px;
					margin-right: 3px;
					&:hover {
						background-color: #DCD9C8;
					}
				}
			}
		}
		div {
			position: absolute;
			width: 40px;
			height: 25px;
			left: calc(100% - 50px);
			background-color: #fff;
			img {
				position: relative;
				width: 25px;
				height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
	}

	.page-tool {
		height: 50px;
		top: calc(0% + 25px + 30px);
		color: #000;
		background: #ECE9DA;
		border-bottom: #DCD9C8 1px solid;
		img {
			height: 50px;
		}
	}

	.url {
		height: 25px;
		top: calc(0% + 25px + 30px +50px);
		color: #000;
		background: #ECE9DA;
		border-bottom: #DCD9C8 1px solid;
		a {
			width: 20px;
			font-size: 14px;
			display: inline;
			color: #000;
			margin-left: 10px;
			padding-top: 2px;
		}
		input {
			display: inline;
			width: calc(80% - 20px);
		}
	}

	.content {
		height: calc(100% - (25px + 30px + 50px + 25px + 5px));
		bottom: 0;
		width: 100%;
		text-align: center;
		a {
			display: block;
		    margin: 10px;
		    padding: 40px 0 10px 0;
		    width: 100px;
		    background-position: 50% 5px;
		    background-color: transparent;
		    background-repeat: no-repeat;
		    color: #000;
		    float: left;
		}
		.image {
			background-image: url('../images/img.png');
		}

	}
	.img {
		max-width: 100%;
		max-height: calc(100% - 30px);
		display: block;
		margin: auto;
	}
}




