@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'node_modules/font-awesome/scss/font-awesome';
@import "node_modules/compass-mixins/lib/compass/css3";

#checkout {
    .wizard {
        margin: 20px auto;
        background: #fff;
        .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #e0e0e0; 
        }

        > div.wizard-inner {
            position: relative;
        }

        .nav-tabs {

            > li {
                width: 25%;

                & a {
                    width: 70px;
                    height: 70px;
                    margin: 20px auto;
                    border-radius: 100%;
                    padding: 0;
                    &:hover {
                        background: transparent;
                    }
                }

                &.active {
                    a , a:hover, a:focus{
                        color: #555555;
                        cursor: default;
                        border: 0;
                        border-bottom-color: transparent;
                    }
                }
            }
        }

        .connecting-line {
            height: 2px;
            background: #e0e0e0;
            position: absolute;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        span.round-tab {
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
            border-radius: 100px;
            background: #fff;
            border: 2px solid #e0e0e0;
            z-index: 2;
            position: absolute;
            left: 0;
            text-align: center;
            font-size: 25px;
            i {
                color:#555555;
            }
            &:hover {
                color: #333;
                border: 2px solid #333;
            }
        }

        li.active {
            & span.round-tab {
                background: #fff;
                border: 2px solid #5bc0de;
            }

            & i {
                color: #5bc0de;
            }

            &:after {
                content: " ";
                position: absolute;
                left: 46%;
                opacity: 1;
                margin: 0 auto;
                bottom: 0px;
                border: 10px solid transparent;
                border-bottom-color: #5bc0de;
            }
            
        }

        li:after {
            content: " ";
            position: absolute;
            left: 46%;
            opacity: 0;
            margin: 0 auto;
            bottom: 0px;
            border: 5px solid transparent;
            border-bottom-color: #5bc0de;
            transition: 0.1s ease-in-out;
        }

        .tab-pane {
            position: relative;
            padding-top: 50px;
        }
    }

    @media( max-width : 585px ) {

        .wizard {
            width: 90%;
            height: auto !important;
        }

        span.round-tab {
            font-size: 16px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard .nav-tabs > li a {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }

        .wizard li.active:after {
            content: " ";
            position: absolute;
            left: 35%;
        }
    }
}

#my-banner {
    width: 100%;

    .banner > div {
        position: absolute;
        top: 50px;
        left: 0;
        @include transition(left .7s);

        > img {
            width: 100vw;
        }

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                left: ($i - 2) * 100%;
            }
        }
    }

    a {
        position: absolute;
        width: 10%;
        top: 50px;
        line-height: 100%;

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }

        &:before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

#dropdown-css {
    .dropdown-css-content {
        @include transition(opacity .4s);
        opacity: 0;
    }

    .dropdown-css:focus {
        &+.dropdown-css-content {
            opacity: 1;
        }
    }
}

#loading {
    button {
        display: block;
        margin: 50px auto;
    }

    .loading {
        position: absolute;
        left: calc(50% - 32px);
        top: calc(50% - 32px);
    }
}
